<section class="page-header internal">
  <h1 class="project-name"><a routerLink="/">Angular Application - Engineer AI Assignment</a></h1>
  <h2 class="project-tagline"></h2>
</section>

<!-- Loading Animation after 10 sec -->
<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>
        </div>
    </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<!-- HTML For Data Table -->
<div class="container" *ngIf="!loading">

  <!-- Search By Title -->
  <div class="row margin-top-15">
    <div class="col-sm-12">
      <form class="search-form">
        <div class="form-group has-feedback">
          <input type="text" class="form-control search-input" [(ngModel)]="searchtext" name="search" id="search" placeholder="Search by title...">
        </div>
      </form>
    </div>
  </div>

  <!-- Table data -->
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">

        <!-- Main Table -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Url</th>
              <th scope="col">Created_At</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody *ngIf="dataList.length !== 0; else noTable">
            <tr *ngFor="let item of dataList.hits | titleFilter:searchtext;let i=index" (click)="openModel(item)">
              <td>{{item.title}}</td>
              <td>{{item.url}}</td>
              <td>{{item.created_at | date:'medium'}}</td>
              <td>{{item.author}}</td>
          </tbody>
          <ng-template #noTable>
            <div class="text-center">No data found.</div>
          </ng-template>
        </table>

        <!-- Main Table Ends -->

      </div>
    </div>
  </div>
  <!-- Table data ends -->

</div>

